<div class="body">
    <div class="box" style="width:40%;overflow: hidden;display: block;">
        <table width='100%' style="background:transparent">
            <tr>
                <th>DELETE</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL</th>
            </tr>
        </table>
        <div class="cartbox">
            <table width="100%">
                <tr *ngFor='let cart_element of cart;let i = index'>
                    <td (click)="remove(i)"><button class="remove">X</button></td>
                    <td>{{cart_element.title}}</td>
                    <td>{{cart_element.price}}</td>
                    <td><input type="number" value={{cart_element.quantity}} (input)="update_quantity($event,i)" style="width: 2rem;"></td>
                    <td>{{cart_element.total}} INR</td>
                </tr>
            </table>
            <div class="empty" *ngIf='cart.length===0 else cart'>
                <h1>THERES NO ELEMENT IN CART</h1>
            </div>
        </div>
        <div class="checkout">
            <table width="100%">
                <tr>
                    <td>Subtotal</td>
                    <td>{{subtotal}} INR</td>
                    <td>{{total_quantity}} items</td>
                </tr>
                <tr>
                    <td>VAT</td>
                    <td><input value="0" type="number" (input)="value_update($event,1)"></td>
                    <td>{{subtotal*vat/100}} rs</td>
                </tr>
                <tr>
                    <td>DISCOUNT</td>
                    <td><input value="0" type="number" (input)="value_update($event,2)"></td>
                    <td>{{subtotal*discount/100}} rs</td>
                </tr>
                <tr>
                    <td>TOTAL</td>
                    <td><span style="color:#60cf60">{{grand_total}} INR</span></td>
                </tr>
            </table>
            <br>
            <button style="background-color: #C9302C;" (click)="clear()">CANCEL SALE</button>
            <button style="background-color: #60cf60;" (click)="open()">PROCESS SALE</button>
        </div>
    </div>
    <div class="box" style="width:60%">
        <div *ngFor='let product of products;let i = index' class="product" (click)="addtocart(i)" [style]="{background: 'linear-gradient(rgba('+show_color(product.category)+', 0.6), rgba('+show_color(product.category)+', 0.6)), url(/assets/images/'+product.image+')'}">
            <span class="title"> {{product.name}}</span>
            <div class="hide">{{product.price}} Rs<br> <span class="desc">{{product.description}}</span></div>
        </div>
    </div>

    <div class="modal-back" *ngIf='modal===true'>
        <div class="modal">
            <div class='receipt'>
                RECEIPT
            </div>
            <b>sale no</b>:18256
            <br> <b>Date</b>:
            <table width='100%' border="0">
                <tr>

                    <th>#</th>
                    <th>product</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>

                </tr>
                <tr *ngFor='let cart_element of cart;let i =index'>
                    <td>{{i+1}}</td>
                    <td>{{cart_element.title}}</td>
                    <td>{{cart_element.quantity}}</td>
                    <td>{{cart_element.total}}</td>
                </tr>
            </table>
            <br>
            <hr>
            <br>
            <table width="100%">
                <tr>
                    <td><b>total Items</b></td>
                    <td>{{total_quantity}}</td>
                    <td>{{grand_total}} INR</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>VAT</b></td>
                    <td>{{vat}}%</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>DISCOUNT</b></td>
                    <td>{{discount}}%</td>
                </tr>
            </table>
            <hr>
            <button (click)="clear()" (click)="open()" id="close">close</button>
        </div>

    </div>
</div>